APP_ENV=development
APP_DATA_DIR=
APP_LOG_LEVEL=INFO
OLLAMA_HOST=http://127.0.0.1:11434
APP_MAX_XLSX_MB=50
APP_CHUNK_MAX_CHARS=1500
APP_CHUNK_MIN_CHARS=80
APP_MAX_EXTRACTED_CELLS=200000
APP_INCLUDE_HIDDEN_SHEETS=false
